name: Run User profiles Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v5

      - name: Setup our python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python3 -m venv myvenv
          source myvenv/bin/activate
          pip install pytest

      - name: Run tests
        run: |
          source myvenv/bin/activate
          pytest -v
